#title{

    padding : 1em;
    text-align : center;
}


#WL
{
    float: right;
    padding-right: 1em;
    padding-top: 1em;
}


#logo{
    float: left;
    padding-left: 1em;
    padding-top: 1em;

}

#navigbar{
    clear:left;
}

#mynavbar{
    justify-content:center;
}

#all{

    padding-left: 7em;
    padding-right: 5em;
    padding-top: 7em;
    padding-bottom : 5em;
    font-size: 150%;
    clear: left;
}


#button{
    margin-top : 0.5em;
}


img {
    height: 100%;
    width: 100%;
}

@media (max-width: 480px) {
    #logo{
        height: 15%;
        width: 15%;
    }
    #WL{
        padding-right: 0.5em;
        padding-top: 0.5em;
    }

    #all{

        padding: 4em 8em 4em 0em;
        font-size: 100%;
    }
    #email{
        width : 150%;
    }
    #mdp{
        width: 150%;
    }
}
