


#WL
{
    float: right;
    padding-right: 1em;
    padding-top: 1em;
}


#logo{
    float: left;
    padding-left: 1em;
    padding-top: 1em;

}

#navigbar{
    clear:left;
}

#mynavbar{
    justify-content:center;
}


#image1 {
    padding-top: 5em;
    object-fit: contain;
    height:100%;
    width: 100%;
}

#coltxt{

    padding-top: 5em;

}

#liste {
    text-decoration: underline;
    margin: 15px;
    padding: 15px;
}

.bubble ml-3{
    margin-left: 20px;
}

table{
    border-collapse: collapse;
    margin-left: 30px;

}

th, td{
    border: 1px solid black;
    padding: 10px;


}

td{
    vertical-align : top;


}

.etoile {
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
}

.etoile li {
    display:block;
    cursor:pointer;
    font-size:25px;
}

.etoile li:after {
    content: "\2606";
}

.hover:after,
.selected:after {
    content: "\2605";
}


.note  {
    display: flex;
    vertical-align: bottom;

}


.eval {
    width: 50%;


}

table{
    width: 600px;
    position: relative;

}

.croix {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
}



