#title{

    padding : 1em;
}


#WL
{
    float: right;
    padding: 1em;
}


#logo{
    float: left;
    padding: 1em
}

#navigbar{
    clear:left;

}

#mynavbar{
    justify-content:center;
}



button{

    background-color:black;
}

